In [1]:
import pandas as pd
import numpy as np

In [2]:
?pd.read_csv

# 1. 네이버부동산 서울시 아파트 데이터

### #1. 데이터를 불러와 출력

In [12]:
# pd.set_option('display.max_columns', 100)
apt_list = pd.read_csv(??, encoding = 'cp949')
apt_list

,지역,구,법정동,아파트이름,code,area,room,toilet,세대수,건물수,...,per_park,heat,용적률,건폐율,f_high,f_low,LotAdr,RoadAdr,lati,long
0,서울특별시,종로구,청운동,청운벽산빌리지,12076,82.89,3,1,126,9,...,NaN,개별난방,NaN,NaN,3,1,서울시 종로구 청운동 1,서울시 종로구 자하문로36길 16-14,37.591282,126.968340
1,서울특별시,종로구,청운동,청운벽산빌리지,12076,83.61,3,1,126,9,...,NaN,개별난방,NaN,NaN,3,1,서울시 종로구 청운동 1,서울시 종로구 자하문로36길 16-14,37.591282,126.968340
2,서울특별시,종로구,청운동,청운벽산빌리지,12076,137.03,4,2,126,9,...,NaN,개별난방,NaN,NaN,3,1,서울시 종로구 청운동 1,서울시 종로구 자하문로36길 16-14,37.591282,126.968340
3,서울특별시,종로구,청운동,청운벽산빌리지,12076,141.39,4,2,126,9,...,NaN,개별난방,NaN,NaN,3,1,서울시 종로구 청운동 1,서울시 종로구 자하문로36길 16-14,37.591282,126.968340
4,서울특별시,종로구,청운동,청운벽산빌리지,12076,140.51,4,2,126,9,...,NaN,개별난방,NaN,NaN,3,1,서울시 종로구 청운동 1,서울시 종로구 자하문로36길 16-14,37.591282,126.968340
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
41102,서울특별시,강동구,강일동,고덕리엔파크2단지,102234,84.98,3,2,636,11,...,1.14,지역난방,169.0,27.0,17,11,서울시 강동구 강일동 717,서울시 강동구 고덕로 427,37.559780,127.173109
41103,서울특별시,강동구,강일동,고덕리엔파크2단지,102234,84.87,3,2,636,11,...,1.14,지역난방,169.0,27.0,17,11,서울시 강동구 강일동 717,서울시 강동구 고덕로 427,37.559780,127.173109
41104,서울특별시,강동구,강일동,고덕리엔파크2단지,102234,84.83,3,2,636,11,...,1.14,지역난방,169.0,27.0,17,11,서울시 강동구 강일동 717,서울시 강동구 고덕로 427,37.559780,127.173109
41105,서울특별시,강동구,강일동,고덕리엔파크2단지,102234,114.97,4,2,636,11,...,1.14,지역난방,169.0,27.0,17,11,서울시 강동구 강일동 717,서울시 강동구 고덕로 427,37.559780,127.173109
41106,서울특별시,강동구,강일동,고덕리엔파크2단지,102234,114.98,4,2,636,11,...,1.14,지역난방,169.0,27.0,17,11,서울시 강동구 강일동 717,서울시 강동구 고덕로 427,37.559780,127.173109

### #2. unique한 아파트 단지 개수를 확인할 것

In [4]:
apt_list.code # 각 row의 code 값 출력

0         12076
1         12076
2         12076
3         12076
4         12076
          ...
41102    102234
41103    102234
41104    102234
41105    102234
41106    102234
Name: code, Length: 41107, dtype: int64

In [5]:
unq_apt = ?? # code 변수의 unique 값들 출력
print('length of unique apartment:', len(unq_apt))

length of unique apartment: 8297

### #3. Numeric 변수 전처리

In [6]:
apt_list.isnull().sum(axis = 0) # 각 변수들의 NaN값 체크

지역             0
구              0
법정동            0
아파트이름          0
code           0
area           0
room           0
toilet         0
세대수            0
건물수            0
y_c           33
park        2850
per_park    2858
heat           0
용적률         4886
건폐율         5788
f_high         0
f_low          0
LotAdr         0
RoadAdr     4339
lati           0
long           0
dtype: int64

In [7]:
Num_idx1 =  # 면적 outlier에 대한 idx 제거
Num_idx2 =  # 방 갯수 outlier에 대한 idx 제거
Num_idx3 = apt_list.용적률.isnull() |  # 방 갯수 outlier에 대한 idx 제거 + NA값이 제거되는 것 방지
Num_idx4 = apt_list.건폐율.isnull() |  # 방 갯수 outlier에 대한 idx 제거 + NA값이 제거되는 것 방지


Num_idx = Num_idx1 & Num_idx2 & Num_idx3 & Num_idx4
apt_list2 = apt_list.loc[Num_idx, :]

In [8]:
print('아웃라이어 제거 후 해당 갯수:', Num_idx1.sum(), Num_idx2.sum(), Num_idx3.sum(), Num_idx4.sum())
print('최종 해당 갯수:', Num_idx.sum())

아웃라이어 제거 후 해당 갯수: 41106 41095 41107 41107
최종 해당 갯수: 41094

### #4. Character 변수 전처리

In [9]:
Chr_idx1 = 
apt_list2.loc[??, ??] = ?? # ??에 알맞은 값 채워넣기

C:\Anaconda3\lib\site-packages\pandas\core\indexing.py:964: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[item] = s

In [10]:
print('개별냉난방 해당 갯수:', Chr_idx1.sum())

개별냉난방 해당 갯수: 6

- - -

# 2. 국토교통부 실거래가 데이터

In [1]:
trd_list = pd.read_csv('./Dataset/서울특별시_매매가_info.csv', encoding = 'cp949')
trd_list

,YYYY,MM,시군구,번지,단지명,area,price,floor,birth_year,도로명,age_c
0,2009,7,서울특별시 강남구 개포동,658-1,개포6차우성아파트1동~8동,67.28,67700.0,1,1987,언주로,22
1,2009,7,서울특별시 강남구 개포동,658-1,개포6차우성아파트1동~8동,79.97,85000.0,4,1987,언주로,22
2,2009,8,서울특별시 강남구 개포동,658-1,개포6차우성아파트1동~8동,67.28,74000.0,2,1987,언주로,22
3,2009,8,서울특별시 강남구 개포동,658-1,개포6차우성아파트1동~8동,67.28,73300.0,5,1987,언주로,22
4,2009,8,서울특별시 강남구 개포동,658-1,개포6차우성아파트1동~8동,67.28,74500.0,1,1987,언주로,22
...,...,...,...,...,...,...,...,...,...,...,...
813021,2019,10,서울특별시 중랑구 중화동,450,한신2,84.03,56500.0,18,1998,동일로 752,21
813022,2019,10,서울특별시 중랑구 중화동,450,한신2,59.76,44300.0,12,1998,동일로 752,21
813023,2019,12,서울특별시 중랑구 중화동,450,한신2,59.76,45700.0,18,1998,동일로 752,21
813024,2019,9,서울특별시 중랑구 중화동,274-51,한영(101),84.69,35000.0,7,2003,동일로144길 74,16
813025,2019,7,서울특별시 중랑구 중화동,11-7,현대휴앤미(102동),64.48,32800.0,3,2007,봉화산로27가길 19,12

### #1. 데이터 병합

* 아파트이름+전용면적 크기로 join key를 쓰면 안되는 이유

In [39]:
# 중복된 아파트이름+전용면적 아파트 check
dup_list = apt_list.loc[:, ['아파트이름', 'area']].duplicated(keep = False)
apt_list.loc[dup_list, :].sort_values(by = ['아파트이름', 'area'])

,지역,구,법정동,아파트이름,code,area,room,toilet,세대수,건물수,...,per_park,heat,용적률,건폐율,f_high,f_low,LotAdr,RoadAdr,lati,long
17460,서울특별시,양천구,신정동,SM엘루이,100494,84.97,3,2,41,1,...,1.00,개별난방,249.0,49.0,12,11,서울시 양천구 신정동 1014-5,서울시 양천구 은행정로4길 25,37.521417,126.862590
24171,서울특별시,금천구,시흥동,SM엘루이,105862,84.97,3,2,82,1,...,1.08,개별난방,249.0,27.0,15,15,서울시 금천구 시흥동 791-40,NaN,37.445962,126.902407
17461,서울특별시,양천구,신정동,SM엘루이,100494,84.98,3,2,41,1,...,1.00,개별난방,249.0,49.0,12,11,서울시 양천구 신정동 1014-5,서울시 양천구 은행정로4길 25,37.521417,126.862590
24172,서울특별시,금천구,시흥동,SM엘루이,105862,84.98,3,2,82,1,...,1.08,개별난방,249.0,27.0,15,15,서울시 금천구 시흥동 791-40,NaN,37.445962,126.902407
18191,서울특별시,양천구,목동,건영,651,84.39,3,2,299,4,...,0.69,지역난방,256.0,28.0,14,10,서울시 양천구 목동 928,서울시 양천구 목동중앙본로22길 63,37.541996,126.872835
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9713,서울특별시,도봉구,쌍문동,현대3차,1122,84.55,3,2,287,3,...,0.73,개별난방,236.0,20.0,15,7,서울시 도봉구 쌍문동 719,서울시 도봉구 우이천로38가길 32,37.652105,127.021646
25391,서울특별시,영등포구,문래동5가,현대3차,1214,84.55,3,2,166,2,...,NaN,개별난방,NaN,NaN,12,11,서울시 영등포구 문래동5가 21,서울시 영등포구 선유서로 6,37.516325,126.884205
25508,서울특별시,영등포구,양평동3가,현대3차,738,84.55,3,2,145,1,...,1.03,개별난방,248.0,NaN,17,9,서울시 영등포구 양평동3가 79,서울시 영등포구 선유동2로 23,37.531466,126.895136
9714,서울특별시,도봉구,쌍문동,현대3차,1122,84.83,3,2,287,3,...,0.73,개별난방,236.0,20.0,15,7,서울시 도봉구 쌍문동 719,서울시 도봉구 우이천로38가길 32,37.652105,127.021646
38262,서울특별시,송파구,거여동,현대3차,357,84.83,3,2,303,3,...,NaN,개별난방,251.0,NaN,15,8,서울시 송파구 거여동 46,서울시 송파구 거마로 41,37.497216,127.144655

* 네이버 데이터에 대해 주소+전용면적 칼럼 생성

In [12]:
apt_list2.loc[:, 'join_key'] = apt_list2.LotAdr+' '+ apt_list2.area.apply(lambda x: str(x))
apt_list2.join_key

C:\Anaconda3\lib\site-packages\pandas\core\indexing.py:844: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[key] = _infer_fill_value(value)

0           서울시 종로구 청운동 1 82.89
1           서울시 종로구 청운동 1 83.61
2          서울시 종로구 청운동 1 137.03
3          서울시 종로구 청운동 1 141.39
4          서울시 종로구 청운동 1 140.51
                  ...
41102     서울시 강동구 강일동 717 84.98
41103     서울시 강동구 강일동 717 84.87
41104     서울시 강동구 강일동 717 84.83
41105    서울시 강동구 강일동 717 114.97
41106    서울시 강동구 강일동 717 114.98
Name: join_key, Length: 41094, dtype: object

* 국토교통부 데이터에 대해 주소+전용면적 칼럼 생성

In [13]:
trd_list2 = trd_list
trd_list2.loc[:, 'join_key'] = trd_list2.시군구+' '+trd_list2.번지+' '+trd_list2.area.apply(lambda x: str(x))
trd_list2.join_key

0          서울특별시 강남구 개포동 658-1 67.28
1          서울특별시 강남구 개포동 658-1 79.97
2          서울특별시 강남구 개포동 658-1 67.28
3          서울특별시 강남구 개포동 658-1 67.28
4          서울특별시 강남구 개포동 658-1 67.28
                     ...
813021       서울특별시 중랑구 중화동 450 84.03
813022       서울특별시 중랑구 중화동 450 59.76
813023       서울특별시 중랑구 중화동 450 59.76
813024    서울특별시 중랑구 중화동 274-51 84.69
813025      서울특별시 중랑구 중화동 11-7 64.48
Name: join_key, Length: 813026, dtype: object

In [14]:
trd_list2.join_key = trd_list2.join_key.apply(
    lambda x: str(x).replace('서울특별시', '서울시')) # join key 값 형식을 맞추기 위해 변경

* 데이터 병합하기
> 주의: trd_list2를 기준으로 left_join할 것!

In [15]:
merged_data = 
merged_data

,YYYY,MM,시군구,번지,단지명,area,price,floor,birth_year,도로명,...,per_park,heat,용적률,건폐율,f_high,f_low,LotAdr,RoadAdr,lati,long
0,2009,7,서울특별시 강남구 개포동,658-1,개포6차우성아파트1동~8동,67.28,67700.0,1,1987,언주로,...,1.00,개별난방,106.0,21.0,5.0,5.0,서울시 강남구 개포동 658-1,서울시 강남구 언주로 3,37.476763,127.057210
1,2009,7,서울특별시 강남구 개포동,658-1,개포6차우성아파트1동~8동,79.97,85000.0,4,1987,언주로,...,1.00,개별난방,106.0,21.0,5.0,5.0,서울시 강남구 개포동 658-1,서울시 강남구 언주로 3,37.476763,127.057210
2,2009,8,서울특별시 강남구 개포동,658-1,개포6차우성아파트1동~8동,67.28,74000.0,2,1987,언주로,...,1.00,개별난방,106.0,21.0,5.0,5.0,서울시 강남구 개포동 658-1,서울시 강남구 언주로 3,37.476763,127.057210
3,2009,8,서울특별시 강남구 개포동,658-1,개포6차우성아파트1동~8동,67.28,73300.0,5,1987,언주로,...,1.00,개별난방,106.0,21.0,5.0,5.0,서울시 강남구 개포동 658-1,서울시 강남구 언주로 3,37.476763,127.057210
4,2009,8,서울특별시 강남구 개포동,658-1,개포6차우성아파트1동~8동,67.28,74500.0,1,1987,언주로,...,1.00,개별난방,106.0,21.0,5.0,5.0,서울시 강남구 개포동 658-1,서울시 강남구 언주로 3,37.476763,127.057210
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
813021,2019,10,서울특별시 중랑구 중화동,450,한신2,84.03,56500.0,18,1998,동일로 752,...,1.00,개별난방,376.0,20.0,27.0,23.0,서울시 중랑구 중화동 450,서울시 중랑구 동일로 752,37.597260,127.082394
813022,2019,10,서울특별시 중랑구 중화동,450,한신2,59.76,44300.0,12,1998,동일로 752,...,1.00,개별난방,376.0,20.0,27.0,23.0,서울시 중랑구 중화동 450,서울시 중랑구 동일로 752,37.597260,127.082394
813023,2019,12,서울특별시 중랑구 중화동,450,한신2,59.76,45700.0,18,1998,동일로 752,...,1.00,개별난방,376.0,20.0,27.0,23.0,서울시 중랑구 중화동 450,서울시 중랑구 동일로 752,37.597260,127.082394
813024,2019,9,서울특별시 중랑구 중화동,274-51,한영(101),84.69,35000.0,7,2003,동일로144길 74,...,1.01,개별난방,294.0,58.0,7.0,5.0,서울시 중랑구 중화동 274-51,서울시 중랑구 동일로144길 74,37.606455,127.082453
813025,2019,7,서울특별시 중랑구 중화동,11-7,현대휴앤미(102동),64.48,32800.0,3,2007,봉화산로27가길 19,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### #2. 데이터 Impute

In [16]:
idx_nanroom =  # room 변수에서 null인 idx 찾기
idx_nantol =  # toilet 변수에서 null인 idx 찾기

print('room 변수에서 결측치 수:', idx_nanroom.sum())
print('toilet 변수에서 결측치 수:', idx_nantol.sum())

room 변수에서 결측치 수: 155894
toilet 변수에서 결측치 수: 155894

In [17]:
merged_data1 = merged_data
merged_data1.loc[??, ??] = ?? # ??에 알맞은 값 채워넣기
merged_data1.loc[??, ??] = ?? # ??에 알맞은 값 채워넣기

### #3. 데이터 summary 및 저장

In [18]:
merged_data1.describe()

,YYYY,MM,area,price,floor,birth_year,age_c,code,room,toilet,...,건물수,y_c,park,per_park,용적률,건폐율,f_high,f_low,lati,long
count,813026.000000,813026.000000,813026.000000,813026.000000,813026.000000,813026.000000,813026.000000,657132.000000,813026.000000,657132.000000,...,657132.000000,657126.000000,625565.000000,625565.000000,621991.000000,584073.000000,657132.000000,657132.000000,657132.000000,657132.000000
mean,2014.796436,6.626916,78.250180,54220.761417,8.898719,1998.670143,16.126292,15981.838669,2.917718,1.576134,...,11.398538,1998.638065,1109.442496,1.095657,357.988270,25.057813,18.181023,11.856189,37.554926,126.996682
std,2.781094,3.331601,29.435403,39529.400742,6.001341,9.251390,9.400015,30766.868806,0.631596,0.507940,...,13.612437,8.648250,1407.446944,0.499893,4067.687741,28.415833,6.767199,5.220072,0.056035,0.091333
min,2009.000000,1.000000,10.020000,350.000000,-4.000000,1961.000000,-9.000000,1.000000,1.000000,0.000000,...,1.000000,1932.000000,1.000000,0.020000,2.000000,2.000000,2.000000,1.000000,37.434424,126.806581
25%,2013.000000,4.000000,59.758000,31000.000000,4.000000,1992.000000,9.000000,632.000000,2.917718,1.000000,...,3.000000,1993.000000,271.000000,0.850000,217.000000,18.000000,15.000000,8.000000,37.508702,126.916453
50%,2015.000000,7.000000,83.720000,43000.000000,8.000000,2000.000000,15.000000,3006.000000,3.000000,2.000000,...,7.000000,1999.000000,646.000000,1.070000,253.000000,21.000000,15.000000,12.000000,37.546914,127.018151
75%,2017.000000,9.000000,84.970000,64000.000000,12.000000,2005.000000,23.000000,14255.000000,3.000000,2.000000,...,15.000000,2005.000000,1357.000000,1.250000,304.000000,26.000000,22.000000,15.000000,37.599036,127.068027
max,2019.000000,12.000000,424.320000,840000.000000,69.000000,2019.000000,58.000000,126215.000000,8.000000,5.000000,...,122.000000,2019.000000,12456.000000,11.950000,215041.000000,2457.000000,69.000000,54.000000,37.687745,127.181055

### random_state = 1로 설정하여, 50개 샘플을 저장

In [20]:
final_data = merged_data1.sample(50, random_state = 1)
final_data.to_csv('./final_서울시_매매가.csv', encoding = 'cp949', index = False)
final_data.describe()

,YYYY,MM,area,price,floor,birth_year,age_c,code,room,toilet,...,건물수,y_c,park,per_park,용적률,건폐율,f_high,f_low,lati,long
count,50.000000,50.000000,50.000000,50.000000,50.000000,50.000000,50.000000,33.000000,50.000000,33.000000,...,33.000000,33.000000,31.000000,31.000000,28.000000,27.000000,33.000000,33.000000,33.000000,33.000000
mean,2014.900000,6.480000,86.308802,59334.260000,10.100000,2000.500000,14.400000,15556.090909,2.892024,1.696970,...,13.878788,1999.242424,1272.000000,1.129032,296.642857,23.148148,19.757576,12.303030,37.559756,127.014228
std,2.233785,3.447803,26.801864,38122.341241,8.786005,9.517438,9.822922,30774.890068,0.525515,0.466694,...,15.691872,8.696372,1803.284189,0.509682,153.223684,8.689975,10.750088,5.648478,0.054222,0.090320
min,2010.000000,1.000000,39.840000,17750.000000,1.000000,1980.000000,0.000000,74.000000,1.000000,1.000000,...,1.000000,1980.000000,29.000000,0.180000,164.000000,14.000000,5.000000,5.000000,37.453948,126.840704
25%,2013.000000,3.250000,65.822500,35975.000000,3.000000,1996.000000,6.500000,1133.000000,2.917718,1.000000,...,3.000000,1996.000000,380.500000,0.790000,232.500000,17.500000,15.000000,8.000000,37.516408,126.930074
50%,2015.000000,6.000000,84.755000,45950.000000,6.000000,2001.500000,13.000000,3270.000000,3.000000,2.000000,...,10.000000,2001.000000,658.000000,1.140000,256.000000,21.000000,19.000000,11.000000,37.555616,127.031824
75%,2016.750000,9.000000,99.890000,68500.000000,13.750000,2008.000000,19.000000,11337.000000,3.000000,2.000000,...,16.000000,2005.000000,1453.500000,1.255000,297.000000,24.500000,24.000000,15.000000,37.611298,127.084896
max,2019.000000,12.000000,155.586000,161500.000000,44.000000,2014.000000,37.000000,119937.000000,4.000000,2.000000,...,66.000000,2012.000000,9766.000000,2.840000,919.000000,49.000000,66.000000,29.000000,37.642336,127.139752

### 저장된 데이터를 분석코드 자료와 함께 LMS에 제출
> (과제 기한: 2020-09-07 23:59)